<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('partials/head.ejs')%>
    <title>Document</title>
</head>
<body>
    <%-include('partials/header.ejs')%>
    <div class="container">
        <div class="profile">
            <h2>Редактировать профиль</h2>
            <form class="profile-form" action="/api/editprofile" method="POST" enctype="multipart/form-data">
                <input type="hidden" name="id" value="<%=user._id%>">
                <label for="">Выберите свой аватар</label>
                <input type="file" id="avatarimg" name="image">
                <label for="avatarimg">
                    <img src="/images/icons/camera.png" alt="">
                </label>

                <label>Полное имя пользователя</label>
                <input type="text" placeholder="Введите полное имя" name="full_name" value="<%=user.full_name%>">

                <label>Основное занятие</label>
                <input type="text" placeholder="Введите вашу деятельность" name="hobby" value="<%=user.hobby%>">
                <button type="submit">Сохранить</button>
            </form>
            <button class="del-button" onclick="deleteAccount('<%=user._id%>')">Удалить свой аккаунт</button>
        </div>
    </div>
    <%-include('partials/scripts.ejs')%>
</body>
</html>