<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('partials/head.ejs')%>
    <title>Decode Blog</title>
</head>
<body>
    <%-include('partials/header.ejs')%>
    <div class="container">
        <div class="main">
            <div class="main-left">
                <div class="main-title">
                    <div class="main-title-header">
                        <h2>Блоги по программированию</h2>
                    </div>
                    <div class="main-title-desc">
                        Популярные и лучшие публикации по программированию для начинающих
                        и профессиональных программистов и IT-специалистов.
                    </div>
                    <%if(blogs.length>0){
                        blogs.forEach(blog=>{
                    %>
                        <div class="card">
                            <div class="card-img">
                                <img src="<%=blog.image%>" alt="IMG">
                            </div>
                            <div class="card-content">
                                <a href="/blog/<%=blog._id%>"><h3><%=blog.name%></h3></a>
                                <p>
                                    <%=blog.description%>
                                </p>
                            </div>
                            <div class="card-about">
                                <div>
                                    <img src="/images/icons/calendar.png" alt="">
                                        <%=blog.date%>
                                </div>
                                <div>
                                    <img src="/images/icons/eye.png" alt="">
                                        <%=blog.views.length%>
                                </div>
                                <div>
                                    <img src="/images/icons/shape.png" alt="">
                                        <%=blog.comments.length%>
                                </div>
                                <div>
                                    <img src="/images/icons/comments.png" alt="">
                                        <%=blog.category.name%>
                                </div>
                                <div>
                                    <img src="/images/icons/user.png" alt="">
                                    <a href="/profile/<%=blog.author.id%>"><%=blog.author.full_name%></a>
                                </div>
                            </div>
                        </div>
                    <%
                        })
                      }
                    %>
                    <div class="pages">
                        <%
                            let localsString = ''
                            if(locals.category){
                                localsString = `category=${locals.category}&`
                            }
                            if(locals.search){
                                localsString = `search=${locals.search}&`
                            }
                            for(let i = 0; i < pages; i++){
                        %>
                            <a href="?<%=localsString%>page=<%=i%>"><%=i+1%></a>
                        <%
                            }
                        %>
                    </div>
                </div>

            </div>
            <div class="main-right">
                <%-include('partials/categories.ejs')%>
            </div>
        </div>
    </div>
    <%-include('partials/scripts.ejs')%>
</body>
</html>